<form [formGroup]="questionForm" (ngSubmit)="createQuestion()">
  <div class="form-group row" *ngFor="let answer of questionForm.controls.answers.controls; let i = index;">
    <div class="col-sm-12" [formGroup]="answer">
      <input type="text" class="form-control" id="id-answer-text-{{i}}" name="name-answer-text-{{i}}"
        [formControl]="answer.controls.text">
      <input type="checkbox" class="form-control" id="id-answer-value-{{i}}" name="name-answer-value-{{i}}"
        [formControl]="answer.controls.value">
    </div>
  </div>
  <input type="submit" value="submit">
</form>
